.banner {
  background-color: #222;
  color: white;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  font-size: 1.5rem;
  flex-shrink: 0; /* banner does not shrink */
  margin-bottom: 20px; 
}

.banner h1 {
  margin-left: 10%;
}

#app-name {
  margin-left: 5%;
    font-size: 4rem;         
    font-weight: bold;      
    text-decoration: none;   
    color: white;            
    font-family: Arial, sans-serif;
    letter-spacing: 2px;      
}

#app-name:hover {
    color: #444;             
}
#inlogButton {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 5%;
}