#login-pagina {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}

#login-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 5% 1fr 5%;
    border: 1px solid black;
}

#login-form > * {
    grid-column: 2;
}