#login-pagina {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
}

#login-form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 20% 1fr 20%;
    border: 1px solid black;
    row-gap: 30px;
}

#login-form > * {
    grid-column: 2;
}